@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans';
}

.font-500 {
  font-weight: 500;
}
.font-800 {
  font-weight: 800;
}
